/*  your css code here. If applicable */
*{
	padding: 0px;
	margin: 0px;
}

body{
	background
}

.container{
	width: 300px;
	border-radius: 10px;
	block: center;
	color: #ffffff;
}

li.green{
	color: rgb(0, 128, 0);
}

li.yellow{
	color: rgb(255, 255, 0);
}

li.red{
	background-color: rgb(255, 0, 0)
}